<div class="container">
  <form (ngSubmit)="onSignin(signinForm)" #signinForm="ngForm">
    <h2>Please Sign In</h2>
    <label for="email"
           class="sr-only">User Name</label>
    <input type="email"
           class="form-control"
           name="email"
           id="email"
           placeholder="Email"
           required
           ngModel>
    <label for="password"
           class="sr-only">Password</label>
    <input type="password"
           class="form-control"
           name="password"
           id="password"
           placeholder="Password" required
           ngModel>
    <div class="checkbox">
      <label>
        <input type="checkbox"
               value="Remember me">
        Remember Me
      </label>
    </div>
    <button type="submit"
            class="btn btn-block btn-block btn-primary"
            [disabled]>
      Sign in
    </button>
    <button type="button"
            class="btn btn-primary btn-block"
            (click)="onClick()">Sign Up
    </button>
  </form>
</div>
